@model IEnumerable<Claysys_Online_Course_Learning_portal.Models.Course>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 2000); // Change image every 1.5 seconds
        }
    </script>
}

<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/images/slider1.jpeg")" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/images/slider2.jpeg")" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/images/slider3.jpeg")" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/images/slider4.jpeg")" style="width:100%">
    </div>
</div>


<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@($"data:image/png;base64,{course.ImageBase64}")" class="card-img-top" alt="@course.Title">
                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                        <a href="@Url.Action("Details", "Course", new { id = course.CourseId })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>